 .im1{
    width: 160px;
    height: 60px;
}
#class{

}
.first{
    padding: 30px;
    border: 2px 2px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(229, 238, 235);
    margin-top: 35px;
    
}
.sec{
    text-align: center;
    background-color: rgb(255, 255, 207);
    color: rgb(233, 62, 0);

}
.pad1{
    padding-bottom: 5px;
}
.im{
    width: 250px;
    height: 250px;
    margin-left: 600px;
    margin-top: 5px;
    position: relative;
}
.siz{
    margin-left: 15px;
    position: absolute;

}